mysql-database/*
public_html/*
._*
.DS_Store
.history/
DbBackups/
demos/
root/
temp/
docker/plugins/
docker/ssl/cloudlare-private-key.pem
docker/ssl/cloudflare-origin-certificate.pem
docker/default-ssl.conf
log/*
